/* Google fonts setup */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.display-flex {
    display: flex;
}

.navbar-gray {
    color: #8987A1;
}

.black-color {
    color: #000000;
}

.dark-gray-color {
    color: #111111;
}

.gray-color {
    color: rgba(0, 0, 0, 0.5);
}

.white-color {
    color: #FFFFFF;
}

.background-color {
    background-color: #F5F8FF;
}

.footer-background-color {
    background-color: #FAFCFF;
}

.content-body {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 120px;
    margin-bottom: 120px;
}

#join-margin {
    margin-bottom: 0;
}

.section-title {
    color: #E95A08;
}

.section-title-styles {
    font-weight: 700;
    font-size: 3.125rem;
}

.paragraph-style {
    font-weight: 400;
    font-size: 1.375rem;
}

.plant-font-size {
    font-size: 1.375rem;
}

.plant-medium-weight {
    font-weight: 500;
}

.plant-bold-weight {
    font-weight: 700;
}

.plant-content-title,
.latest-deals-content-title {
    margin-bottom: 16px;
}

.text-align-center {
    text-align: center;
}

.btn-primary {
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 80px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.latest-deals-plant-title {
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 65px;
}

.latest-deals-plant-link {
    font-weight: 600;
    font-size: 1rem;
}

.footer-gray-color {
    color: #6B7280;
}

.footer-display-grid {
    display: grid;
    gap: 32px;
}

/* Navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 48px;
}

.nav-link {
    text-decoration: none;
}

#home-color {
    color: #252432;
    font-weight: 700;
}

#cart-item {
    padding-left: 10px;
}

/* Banner related styles */
.banner {
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 4.0625rem;
    margin-bottom: 13px;
}

/* Plants section related styles */
.plant-content {
    text-align: center;
}

.plant-content-desciption {
    margin-bottom: 49px;
}

.plant-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/* plants-lover related styles */
.plants-lover-section {
    gap: 60px;
    align-items: center;
    /* justify-content: center; */
    margin-top: 210px;
}

.plants-lover-content {
    max-width: 540px;
    margin: 0 auto;
    text-align: left;
    /* display: grid;
    justify-items: center; */
    /* margin-left: 100px; */
}

/* Latest Deals styles */
.latest-deals-content {}

.latest-deals-content-desciption {
    margin-bottom: 120px;
}

.latest-deals-cards-container {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 226px); */
    gap: 28px;
}

.latest-deals-display-grid {
    display: grid;
    gap: 25px;
}

.latest-deals-bloom-plant {
    width: 367px;
    height: 201px;
    background-image: url('../assets/deal-bloom.png');
    border-radius: 14px;
}

.latest-deals-ana-plant {
    width: 367px;
    height: 201px;
    background-image: url('../assets/deal-ana.png');
    border-radius: 14px;
}

.latest-deals-zabo-plant {
    width: 753px;
    height: 423.13px;
    background-image: url('../assets/deal-zabo.png');
    border-radius: 22px;
}

.latest-deals-zabo-title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 172px;
}

.latest-deals-zabo-link {
    font-weight: 600;
    font-size: 1.75rem;
}



/* Latest deals overlay starts */
/* .latest-deals-image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    Optional: controls image size
}

.latest-deals-image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    Optional: adds contrast
    padding: 10px 20px;
    font-size: 0.92rem;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
} */

/* latest deals overlay ends */


/* Join section styles */
.join-section {
    /* width: 1440px; */
    height: 533px;
    background-image: url("../assets/news-letter-bg.png");
    /* width: 100%; */
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.join-content {
    padding-top: 150px;
}

.join-title {
    color: #FFFFFF;
}

#email-textbox {
    width: 644px;
    height: 50px;
}

#email-textbox::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-weight: 400;
    padding: 15.5px 540px 15.5px 20px;
}

.btn-subscribe {
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 17px 53.5px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-left: -4.5px;
}

/* Footer related styles */
.footer-section {
    max-width: 1440px;
    height: 348px;
    margin: auto;
}

.footer-container {
    gap: 110px;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-item {
    list-style: none;
}

.footer-link {
    text-decoration: none;
}

.icon-container {
    gap: 24px;
    margin-bottom: 200px;
}

#twitter-icon {
    /* margin-top: 10px; */
    /* width: 36px;
    height: 36px; */
    padding: 7.5px 9px;
}





/* Mobile Responsive Code */
@media screen and (max-width:576px) {
    .hide {
        /* visibility: hidden; */
        display: none;
    }

    /* .latest-deals-cards-container {
        grid-template-columns: 1fr;
    } */
    .latest-deals-cards-container {
        flex-direction: column;
        /* width: 361px;
        height: auto; */
    }

    .latest-deals-zabo-plant {
        width: 361px;
        height: 184.5px;
    }

    .latest-deals-zabo-title {
        margin-top: 60px;
        font-size: 1.25rem;
    }

    .latest-deals-zabo-link {
        font-size: 1rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 50px 20px;
        background-color: #FAFCFF;
    }

    .icon-container {
        margin-bottom: 0;
    }

    .footer-display-grid {
        padding-left: 0;
    }

    .banner {
        flex-direction: column-reverse;
    }

    #cart-icon {
        margin-left: 200px;
    }

    #cart-layout {
        max-width: 200px;
        max-height: 30px;
    }

    .cart-container {
        align-items: center;
    }

    .banner-image {
        width: 100%;
    }

    .banner-content {
        max-width: 361px;
        margin-left: 16px;
        margin-top: 28px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-description {
        font-size: 0.875rem;
    }

    .plant-content {
        max-width: 361px;
        margin-top: 10px;
        margin-left: 160px;
    }

    .plant-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-content-title,
    .latest-deals-content-title {
        font-size: 1.5rem;
    }

    .plant-content-desciption,
    .latest-deals-content-desciption {
        font-size: 0.875rem;
    }

    .plants-lover-section {
        flex-direction: column;
        margin-left: 10px;
        margin-top: 70px;
    }

    #plants-lover-image {
        width: 100%;
    }

    /* .plants-lover-content>h2,
    ul {
        width: 100%;
    } */
}