/* Google fonts setup */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
.display-flex {
    display: flex;
}

.navbar-gray {
    color: #8987A1;
}

.black-color {
    color: #000000;
}

.dark-gray-color {
    color: #111111;
}

.gray-color {
    color: rgba(0, 0, 0, 0.5);
}

.background-color {
    background-color: #F5F8FF;
}

.content-body {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 120px;
    margin-bottom: 120px;
}

.section-title {
    color: #E95A08;
}

.section-title-styles {
    font-weight: 700;
    font-size: 3.125rem;
}

.paragraph-style {
    font-weight: 400;
    font-size: 1.375rem;
}

.plant-font-size {
    font-size: 1.375rem;
}

.plant-medium-weight {
    font-weight: 500;
}

.plant-bold-weight {
    font-weight: 700;
}

.text-align-center {
    text-align: center;
}

.btn-primary {
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 80px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/* Navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 48px;
}

.nav-link {
    text-decoration: none;
}

#home-color {
    color: #252432;
    font-weight: 700;
}

#cart-item {
    padding-left: 10px;
}

/* Banner related styles */
.banner {
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 4.0625rem;
    margin-bottom: 13px;
}

/* Plants section related styles */
.plant-content {
    text-align: center;
}

.plant-content-title {
    margin-bottom: 16px;
}

.plant-content-desciption {
    margin-bottom: 49px;
}

.plant-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/* plants-lover related styles */
.plants-lover-section {
    gap: 60px;
    align-items: center;
    margin-top: 210px;
}

/* Mobile Responsive Code */
@media screen and (max-width:576px) {
    .hide {
        /* visibility: hidden; */
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
    }

    #cart-icon {
        margin-left: 200px;
    }

    #cart-layout {
        max-width: 200px;
        max-height: 30px;
    }

    .cart-container {
        align-items: center;
    }

    .banner-image {
        width: 100%;
    }

    .banner-content {
        max-width: 361px;
        margin-left: 16px;
        margin-top: 28px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-description {
        font-size: 0.875rem;
    }

    .plant-content {
        max-width: 361px;
        margin-top: 10px;
        margin-left: 160px;
    }

    .plant-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-content-title {
        font-size: 1.5rem;
    }

    .plant-content-desciption {
        font-size: 0.875rem;
    }

    .plants-lover-section {
        flex-direction: column;
        margin-left: 10px;
        margin-top: 70px;
    }

    #plants-lover-image {
        width: 100%;
    }
}